.form {
  /* Positioning */

  /* Display & Box Model */
  width: 328px;
  margin: 0 auto;

  /* Color */

  /* Text */

  /* Other */

  @media screen and (min-width: 768px) {
    /* Positioning */

    /* Display & Box Model */
    width: 380px;

    /* Color */

    /* Text */

    /* Other */
  }
}

.inputsContainer {
  /* Positioning */

  /* Display & Box Model */
  margin-bottom: 43px;

  /* Color */

  /* Text */

  /* Other */
}

.form .signUpButton {
  /* Positioning */
  position: relative;

  /* Display & Box Model */
  display: block;
  margin: 0 auto;

  /* Color */

  /* Text */

  /* Other */
}
