.content {
  /* Positioning */
  position: absolute;
  z-index: 3;
  top: 45px;
  left: 27%;
  transform: translateX(-50%);

  /* Display & Box Model */

  /* Color */

  /* Text */

  /* Other */
  animation: rotate 1s infinite;
}

// Spinner animation
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
