@import "../../styles/variables.scss";

.tooltipText {
  /* Positioning */
  position: absolute;
  z-index: 1;
  top: 140%;
  left: 10px;

  /* Display & Box Model */
  display: block;
  max-width: 90%;
  padding: 3px 16px;
  border-radius: 4px;

  /* Color */
  color: #ffffff;
  background-color: $text-color;

  /* Text */
  overflow-wrap: break-word;

  /* Other */
}
