html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* Body styles */
body {
  margin: 0;
  padding: 0;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: #f8f8f8;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* reset default btn styles */
button {
  all: unset;
}

/* General image styles */
img {
  /* Positioning */

  /* Display & Box Model */
  display: block;
  max-width: 100%;
  height: auto;

  /* Color */

  /* Text */

  /* Other */
}

/* General UL styles */
ul {
  /* Positioning */

  /* Display & Box Model */
  margin: 0;
  padding: 0;

  /* Color */

  /* Text */

  /* Other */
  list-style-type: none;
}

/* General p styles */
p {
  /* Positioning */

  /* Display & Box Model */
  margin: 0;

  /* Color */

  /* Text */

  /* Other */
}

/* General input type text styles */
input[type="text" i] {
  /* Positioning */

  /* Display & Box Model */
  padding: 0;

  /* Color */

  /* Text */

  /* Other */
}

/* General input type file styles */
input[type=file], /* FF, IE7+, chrome (except button) */
input[type=file]::-webkit-file-upload-button {
  /* chromes and blink button */
  cursor: pointer;
}
